</main>

<footer class="pt-large pb-small bg-dark-3" id="kontakt">
  <div class="footer-parallax">
    <div class="container">
  <div class="footer-top col-md-8 mx-auto pb-medium text-center">
    <h2 class="h1 color-light-1">Pobierz aplikację mobilną</h2>
    <p class="color-light-1 op-7 mb-0">
      Pobierz najnowszą aplikację mobilną ze swojego sklepu z aplikacjami – instaluj tylko aplikacje z oryginalnych sklepów.
      </p>
    <div class="d-md-flex gap-2 justify-content-center py-4">
      <a href="https://play.google.com/store/apps/details?id=com.taxity.bluutaxi" title="Pobierz z Google Play" class="button-app magnetic fade-in">
        <img src="/assets/img/hero/googleplay.png" alt="">
      </a>
      <a href="https://apps.apple.com/pl/app/bluu-taxi-piaseczno-pra%C5%BCm%C3%B3w/id6504847568?platform=iphone" title="Pobierz z Appstore" class="button-app magnetic fade-in">
        <img src="/assets/img/hero/appstore.png" alt="">
      </a>
    </div>
  </div>

  <div class="footer-bottom pt-xsmall text-center">
        <p class="small color-light-2 op-7 mb-3">Strona jest własnością firmy Bluu Group SP. Z O.O. z siedzibą w Piasecznie 05-500 ul. Kościuszki 10/1 NIP 1231545527, <br class="d-none d-md-block">która świadczy usługi taksówkowe pod nazwą Bluutaxi.pl </p>
  </div>

</div>
  </div>
</footer>

{% include 'partials/foot.njk' %}