</main>

<footer class="pt-large pb-xxsmall bg-dark-3" id="kontakt">
  <div class="footer-parallax">
    <div class="container">
  <div class="footer-top pb-medium">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/logo/logo-light.png" class="footer-logo" alt="">
          <p class="small color-light-3 mt-4">
            Strona jest własnością firmy Bluu Group SP. Z O.O. z siedzibą w Piasecznie 05-500 ul. Kościuszki 10/1 NIP: 1231545527
          </p>
        </div>
        <div class="offset-md-1 col-md-4">
          <h2 class="h5 mb-4 color-light-1">
            Potrzebujesz pomocy?
          </h2>
          <a href="tel:+48517162517" class="h3 color-light-1">
            +48 517 162 517
          </a>
          <p class="small color-light-3">
            Cały tydzień: 6.00 - 18.00
          </p>
          <a href="mailto:info@bluutaxi.pl" class="h4 color-accent-1">
            info@bluutaxi.pl
          </a>
        </div>
        <div class="col-md-2">
          <h2 class="h5 color-light-1">
            Obszary
          </h2>
          <ul class="footer-list">
            <li>
              <a href="#" title="Piaseczno">Piaseczno</a>
            </li>
            <li>
              <a href="#" title="Zalesie Górne">Zalesie Górne</a>
            </li>
            <li>
              <a href="#" title="Prażmów">Prażmów</a>
            </li>
            <li>
              <a href="#" title="Góra Kalwaria">Góra Kalwaria</a>
            </li>
            <li>
              <a href="#" title="Grójec">Grójec</a>
            </li>
            <li>
              <a href="#" title="Tarczyn">Tarczyn</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h2 class="h5 color-light-1">
            Kontakt
          </h2>
        </div>
      </div>
  </div>

  <div class="footer-middle">
    <p class="small color-light-1">

    </p>
  </div>

  <div class="footer-bottom pt-xsmall">
    <div class="row">
      <div class="col-md-8">
        <ul class="footer-bottom-menu">
          <li>
            <a href="/polityka-prywatnosci/" title="Polityka prywatności" class="small color-light-1">
              Polityka prywatności
            </a>
          </li>
          <li>
            <a href="/regulamin/" title="Regulamin" class="small color-light-1">
              Regulamin
            </a>
          </li>
          <li>
            <a href="/rodo/" title="RODO" class="small color-light-1">
              RODO
            </a>
          </li>
        </ul>
        <p class="small color-light-2 op-5 mb-3">2025 Bluuetaxi Wszelkie prawa zastrzeżone</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/template/payments.webp" alt="">
      </div>
      <div class="col-md-12">
        <div class="d-flex gap-2 align-items-center py-4">
          <p class="my-0 small color-light-2 d-none d-md-block">Pobierz aplikacje mobilną</p>
          <a href="https://play.google.com/store/apps/details?id=com.taxity.bluutaxi" title="Pobierz z Google Play" class="button-app btn-footer magnetic">
            <img src="/assets/img/hero/googleplay.png" alt="">
          </a>
          <a href="https://apps.apple.com/pl/app/bluu-taxi-piaseczno-pra%C5%BCm%C3%B3w/id6504847568?platform=iphone" title="Pobierz z Appstore" class="button-app btn-footer magnetic">
            <img src="/assets/img/hero/appstore.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
</footer>

{% include 'partials/foot.njk' %}
