<section class="bg-dark-3" id="uslugi">
    <div class="pt-medium pb-small pb-md-medium rounded-xl bg-squares">
    <div class="container">
        <div class="col-md-6 mx-auto text-center mb-5">
            <p class="my-0 color-accent-1 fade-in">Zobacz</p>
            <h2 class="h1 mt-2 split-lines">
                Czym jeździmy
            </h2>
        </div>
        <div class="swiper car-carousel fade-in">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-1.jpeg" data-no-swup class="glightbox">
                  <img src="/assets/img/services/taxi-1.jpeg" alt="Taxi Góra Kalwaria - Samochód" loading="lazy">
                </a>               
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-2.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-2.jpeg" alt="Taxi Góra Kalwaria - Samochód 2" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-3.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-3.jpeg" alt="Taxi Góra Kalwaria - Samochód 3" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-4.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-4.jpeg" alt="Taxi Góra Kalwaria - Samochód 4" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-5.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-5.jpeg" alt="Taxi Góra Kalwaria - Samochód 5" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-6.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-6.jpeg" alt="Taxi Góra Kalwaria - Samochód 6" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-7.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-7.jpeg" alt="Taxi Góra Kalwaria - Samochód 7" loading="lazy">
                </a>  
              </div>
              <div class="swiper-slide">
                <a href="/assets/img/services/taxi-8.jpeg" data-no-swup class="glightbox">
                <img src="/assets/img/services/taxi-8.jpeg" alt="Taxi Góra Kalwaria - Samochód 8" loading="lazy">
                </a>  
              </div>

            </div>


  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
          </div>
    </div>
    </div>
</section>

<style>

</style>