<section class="pt-small pb-small bg-dark-3">
    <div class="container">
        <div class="map-wrap rounded-md p-4">
            <img src="/assets/img/map.svg" alt="">
        </div>
    </div>
</section>

<style>
    .map-wrap img {
        opacity: .5;
    }
</style>