<section class="pt-medium pb-medium pb-md-large bg-dark-3" id="cennik">

        <div class="container">
            <div class="col-md-7 mx-auto text-center pb-xsmall">
                <p class="my-0 color-accent-1 fade-in">Sprawdź</p>
                <h2 class="h1 mt-2 split-lines color-light-1">
                    Cennik usług - Taxi Prażmów
                </h2>
            </div>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="pricing-card rounded-lg shadow-1 p-5 bg-light-1">
                        <h2 class="mt-0">
                            Taryfa dzienna
                        </h2>
                        <p class="h4 mb-2">
                            6.00 - 22.00 za podstawienie auta do 4 osób: 
                        </p>
                        <p>
                            30 zł w tym 5km + za każdy następny kilometr 4 zł bez stref
                        </p>
                        <a href="tel:+48517162517" title="Zamów przejazd" class="button-anim magnetic fade-in"
                        data-strength="60">
                    <div class="button-anim-text">
                  <span>Zamów przejazd</span>
                  <span>Zamów przejazd</span>
                </div>
      
                <div class="button-anim-icon">
                  <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g><path fill="var(--color-accent-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
                  </svg>
                </div>
              </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pricing-card rounded-lg shadow-1 p-5 bg-dark-4">
                        <h2 class="mt-0 color-light-1">
                            Taryfa nocna
                        </h2>
                        <p class="h4 mb-2 color-light-1">
                            22.00 – 6.00 za podstawienie auta do 4 osób: 
                        </p>
                        <p class="color-light-3">
                            35 zł w tym 5km + za każdy następny kilometr 5 zł bez stref
                        </p>
                        <a href="tel:+48517162517" title="Zamów przejazd" class="button-anim magnetic fade-in"
                        data-strength="60">
                    <div class="button-anim-text">
                  <span>Zamów przejazd</span>
                  <span>Zamów przejazd</span>
                </div>
      
                <div class="button-anim-icon">
                  <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g><path fill="var(--color-accent-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
                  </svg>
                </div>
              </a>
                    </div>
                </div>
            </div>
        </div>

</section>

<style>
    .pricing-list {
        padding-left: 0;
    }
    .pricing-list li {
        margin-bottom: 1.3em;
        padding: .5em 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 120%;
    }
    .service-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px
    }
    .service-card svg {
        transform: rotate(45deg);
    }
</style>
