<section class="bg-dark-3">
    <div class="pt-small pb-small pb-md-medium rounded-xl bg-light-2">
        <div class="container">
            <div class="text-center pb-xsmall">
                <p class="mb-2 color-accent-1">
                    Zobacz
                </p>
                <h2 class="h1 mt-0">
                    Cennik
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="pricing-card rounded-lg shadow-1 p-5">
                        <h2 class="mt-0">
                            Dzień
                        </h2>
                        <p>
                            W godzinach 6.00-22.00 za podstawienie auta do 4 osób zawsze minimalna CENA 30 zł w tym 5km + za każdy następny kilometr 4 zł bez stref
                        </p>
                        <a href="/" title="Zamów przejazd" class="button-anim magnetic fade-in"
                        data-strength="60">
                    <div class="button-anim-text">
                  <span>Zamów przejazd</span>
                  <span>Zamów przejazd</span>
                </div>
      
                <div class="button-anim-icon">
                  <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g><path fill="var(--color-accent-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
                  </svg>
                </div>
              </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pricing-card rounded-lg shadow-1 p-5 bg-dark-3">
                        <h2 class="mt-0 color-light-1">
                            Noc
                        </h2>
                        <p class="color-light-3">
                            W godzinach 22.00 – 6.00 za podstawienie auta do 4 osób zawsze minimalna CENA 35 zł w tym 5km + za każdy następny kilometr 5 zł bez stref
                        </p>
                        <a href="/" title="Zamów przejazd" class="button-anim magnetic fade-in"
                        data-strength="60">
                    <div class="button-anim-text">
                  <span>Zamów przejazd</span>
                  <span>Zamów przejazd</span>
                </div>
      
                <div class="button-anim-icon">
                  <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g><path fill="var(--color-accent-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
                  </svg>
                </div>
              </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>