<section class="pt-medium pb-medium bg-dark-3">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Mobilne płatności
                    </h3>
                    <p class="color-light-3">
                        Zapłacisz np kodem BLIK albo zbliżeniowo telefonem lub kartą -Ty wybierasz jak Ci wygodnie.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Paragon lub Faktura
                    </h3>
                    <p class="color-light-3">
                        W jednym miejscu zaplanujesz Swój przejazd prywatny lub służbowy.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Bezpieczeństwo
                    </h3>
                    <p class="color-light-3">
                        Wszyscy nasi kierowcy mówią po Polsku i posiadają licencje, badania wymagane z Polskim prawem
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Szeroka oferta i bonusy
                    </h3>
                    <p class="color-light-3">
                        W jednym miejscu 24h/7 Program z bonusami. Zniżki na kartę seniora
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Dodatkowe usługi
                    </h3>
                    <p class="color-light-3">
                        Zakupy, zlecenia stałe, obsługa firm, odpalania auta, wożenie dzieci do szkoły, usługi kurierska Van do 6 pasażerów
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3 class="color-light-1">
                        Transfer
                    </h3>
                    <p class="color-light-3">
                        Specjalne zlecenie z GWARANCJĄ CENY i wykonania np na lotnisko lub dworzec.
                        Przejazd miedzy miastami lub krajami
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.value-card {
    border: 1px solid #1112;
}
</style>